body {
  margin: 0;
  font-family: "Noto Sans";
}
.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 50px 0;
  width: 52%;
  min-width: 503px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}
.title {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  color: #333333;

  :nth-child(1) {
    font-weight: 300;
    font-size: 15px;
    margin: 0;
  }
  :nth-child(2) {
    font-weight: 600;
    font-size: 35px;
    margin: 4% 0 0 0;
  }
  @media (max-width: 1100px) {
    :nth-child(2) {
      font-size: 25px;
    }
  }
  @media (min-width: 1100px) and (max-width: 1700px) {
    :nth-child(2) {
      font-size: 30px;
    }
  }
}
#line {
  width: 75%;
  border: 0.75px solid #d7d7d7;
  margin: 3% 0 3% 0;
}
.tableWrapper {
  width: 75%;
  margin: 4% 0 7% 0;
  display: flex;
  flex-direction: column;

  border: 0.5px solid #414141;
  border-radius: 20px;
}
#tableTitle {
  padding: 10px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border-bottom: solid 1px;
}
table {
  text-align: center;
  border-collapse: collapse;
}
tr {
  width: 100%;
  display: flex;
  justify-content: stretch;
  border-top: solid 0.5px;
  :nth-child(n + 2):nth-child(-n + 6) {
    border-left: solid 0.5px;
  }
}
th {
  font-size: 17px;
  width: 100%;
  background: rgba(0, 70, 42, 0.2);
  padding: 5px 0;
}
td {
  width: 100%;
  font-size: 15px;
  padding: 5px 0;
}
#ltd {
  height: 100px;
}
@media (max-width: 1100px) {
  th {
    font-size: 13px;
  }
  td {
    font-size: 10px;
  }
}
@media (min-width: 1100px) and (max-width: 1700px) {
  th {
    font-size: 15px;
  }
  td {
    font-size: 13px;
  }
}
